/* body{
  margin: 10px;
} */

.sprite{
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.game-container{
  background-color: aqua;
  margin: 0px;
}



















